.global {
	background-color: white;
	color: black;
	transition: background-color 1.5s ease, color 1.5s ease;
	overflow: hidden;
}

.changeGlobal {
	background-color: black;
	color: white;
	transition: background-color 1.5s ease, color 1.5s ease;
	overflow: hidden;
}

a {
	color: white;
	text-decoration: none;
}

.header {
	display: flex;
	height: 20%;
	align-items: center;
}

.header-logo {
	flex: 2;
}

.header-wrapper {
	flex: 3;
	flex-direction: column;
}

.header-menu {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 3.8rem;
	font-weight: bold;
}

.menu-links {
	box-shadow: inset 0 0 0 0 orange;
	color: black;
	margin: 0 -0.25rem;
	padding: 0 0.25rem;
	transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.menu-links:hover {
	box-shadow: inset 300px 0 0 0 orange;
	color: white;
}

.hr {
	position: relative;
	font-weight: bold;
	top: 20px;
	animation: headline 0.8s ease-out;
}

@keyframes headline {
	0% {
		transform: translateX(100vw);
	}
	100% {
		transform: translateX(0);
	}
}

.hero {
	display: flex;
	height: 80%;
}

.hero-left {
	flex: 1;
	display: flex;
	align-items: center;
}

.hero-left-wrapper {
	height: 70%;
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hero-intro {
	font-size: 4rem;
	font-weight: 500;
}

.hero-name {
	font-size: 5.4rem;
}

.hero-title {
	height: 50px;
	overflow: hidden;
}

.hero-title-wrapper {
	height: 100%;
	animation: move 8s ease-in-out infinite alternate;
}

@keyframes move {
	33% {
		transform: translateY(-50px);
	}

	66% {
		transform: translateY(-100px);
	}

	100% {
		transform: translateY(-150px);
	}
}

.hero-title-item {
	height: 50px;
	font-size: 2.5rem;
	font-weight: bold;
	color: orange;
	display: flex;
	align-items: center;
}

.hero-description {
	font-size: 1.5rem;
	font-weight: bold;
}

.hero-right {
	flex: 1;
	position: relative;
}

.hero-shape {
	clip-path: polygon(100% 0, 0% 100%, 100% 100%);
	background: orange;
	height: 100%;
	width: 100%;
	position: absolute;
}

.p {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.p-headline {
	height: 20%;
	display: flex;
	flex-direction: column;
	padding-left: 50px;
	padding-top: 50px;
}

.p-text1 {
	font-size: 3rem;
	position: relative;
	left: -100vw;
}

.p-text1-ref {
	font-size: 3rem;
	animation: project 0.8s ease-out;
}

@keyframes project {
	0% {
		transform: translateX(100vw);
	}
	100% {
		transform: translateX(0);
	}
}

.p-text2 {
	font-size: 2.5rem;
	position: relative;
	left: -100vw;
}

.p-text2-ref {
	font-size: 2.5rem;
	animation: project2 0.8s ease-out;
}

@keyframes project2 {
	0% {
		transform: translateX(-100vw);
	}
	100% {
		transform: translateX(0);
	}
}

.p-content {
	height: 80%;
	display: flex;
	padding: 50px;
}

.p-left-wrapper {
	flex: 1;
	display: flex;
	justify-content: center;
}

.p-left-slider {
	display: flex;
	flex-direction: column;
}

.slider {
	display: flex;
	justify-content: center;
}

.slider-wrapper {
	height: 100%;
	display: flex;
}

.slider-arrow-left {
	position: relative;
	top: 50%;
	z-index: 2;
	user-select: none;
}

.slider-image {
	width: 300px;
	height: 570px;
	border-radius: 10px;
	border: 1px solid white;
}

.slider-arrow-right {
	position: relative;
	top: 50%;
	z-index: 2;
	user-select: none;
}

.slide {
	opacity: 0.5;
	transition-duration: 0.5s ease;
}

.slide.active {
	opacity: 1;
	transition-duration: 0.5s;
	transform: scale(1);
}

.p-right-wrapper {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.p-description-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.p-description {
	font-size: 1.8rem;
	padding: 200px;
}

.p-button-wrapper {
	display: flex;
	padding: 50px;
	justify-content: center;
}

.a {
	display: flex;
	height: 100%;
	flex-direction: column;
	padding: 50px;
	/* background: red; */
}

.a-wrapper-one {
	flex: 4;
	display: flex;
	/* background: green; */
}

.a-wrapper-two {
	flex: 1;
	overflow: hidden;
}

.a-left {
	flex: 1;
	/* background: blue; */
	width: 50%;
}

.a-right {
	flex: 2;
	width: 50%;
}

.a-left-text {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding: 50px;
}

.a-left-text-headline {
	flex: 1;
	font-size: 3.7rem;
}

.a-left-text-description {
	flex: 4;
	font-size: 2.3rem;
}

.a-right-wrapper {
	display: flex;
	/* background-color: orange; */
	height: 100%;
}

.a-images-left {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 50px;
	/* background: yellow; */
}

.a-image-right {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 50px;
}

.image-hobby {
	opacity: 0;
	border-radius: 10px;
}

.image-hobby-ref {
	width: 360px;
	height: 200px;
	opacity: 1;
	border-radius: 10px;
	transition: opacity 2s ease;
	animation: scaleImage 0.8s;
	margin: 10px;
}

@keyframes scaleImage {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

.a-wrapper-two {
	font-size: 2rem;
	padding: 50px;
}

.a-interests-one {
	position: relative;
	white-space: nowrap;
	padding: 50px;
}

.a-interests-two {
	text-align: center;
	position: relative;
	left: -500px;
	white-space: nowrap;
}

.c {
	display: flex;
	height: 100%;
}

.c-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}

.c-contact {
	align-self: center;
	width: 60%;
	height: 90%;
}

.c-title {
	font-size: 5rem;
	text-align: center;
}

.c-form {
	display: flex;
	flex-direction: column;
}

.c-icons {
	display: flex;
	justify-content: space-evenly;
	padding-top: 20px;
	width: 20%;
}

.back-to-menu {
	display: flex;
	justify-content: center;
	height: 10%;
}

/* HELLO HERE IS ANOTHER SCREEN SIZE */
/* HELLO HERE IS ANOTHER SCREEN SIZE */
/* HELLO HERE IS ANOTHER SCREEN SIZE */
/* HELLO HERE IS ANOTHER SCREEN SIZE */

@media screen and (max-width: 2200px) {
	.header-menu {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		font-size: 3.5rem;
		font-weight: bold;
		/* background: red; */
	}

	.hero-intro {
		font-size: 3rem;
		font-weight: 500;
	}

	.hero-name {
		font-size: 5rem;
	}

	.hero-description {
		font-size: 1.4rem;
		font-weight: bold;
	}

	.p-text1 {
		font-size: 3rem;
		position: relative;
		left: -100vw;
	}

	.p-text1-ref {
		font-size: 3rem;
		animation: project 0.8s ease-out;
	}

	.p-text2 {
		font-size: 2.5rem;
		position: relative;
		left: -100vw;
	}

	.p-text2-ref {
		font-size: 2.5rem;
		animation: project2 0.8s ease-out;
	}

	.slider-image {
		width: 300px;
		height: 570px;
		border-radius: 10px;
		border: 1px solid white;
	}

	.p-description {
		font-size: 1.4rem;
		padding: 200px;
	}

	.a-left-text-headline {
		flex: 1;
		font-size: 3.5rem;
	}

	.a-left-text-description {
		flex: 4;
		font-size: 2rem;
	}

	.image-hobby-ref {
		width: 360px;
		height: 200px;
		opacity: 1;
		border-radius: 10px;
		transition: opacity 2s ease;
		animation: scaleImage 0.8s;
		margin: 10px;
	}

	.a-wrapper-two {
		font-size: 2rem;
		padding: 50px;
	}

	.c-title {
		font-size: 5rem;
		text-align: center;
	}
}

/* HELLO HERE IS ANOTHER SCREEN SIZE */
/* HELLO HERE IS ANOTHER SCREEN SIZE */
/* HELLO HERE IS ANOTHER SCREEN SIZE */
/* HELLO HERE IS ANOTHER SCREEN SIZE */

@media screen and (max-width: 1500px) {
	.header-menu {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		font-size: 3rem;
		font-weight: bold;
		/* background: blue; */
	}

	.hero-intro {
		font-size: 2.5rem;
		font-weight: 500;
	}

	.hero-name {
		font-size: 4rem;
	}

	.hero-description {
		font-size: 1.2rem;
		font-weight: bold;
	}

	.p-text1 {
		font-size: 3rem;
		position: relative;
		left: -100vw;
	}

	.p-text1-ref {
		font-size: 3rem;
		animation: project 0.8s ease-out;
	}

	.p-text2 {
		font-size: 2.5rem;
		position: relative;
		left: -100vw;
	}

	.p-text2-ref {
		font-size: 2.5rem;
		animation: project2 0.8s ease-out;
	}

	.slider-image {
		width: 300px;
		height: 544px;
		border-radius: 10px;
		border: 1px solid white;
	}

	.p-description-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 70%;
	}

	.p-description {
		font-size: 1.5rem;
	}

	.a-left-text-headline {
		flex: 1;
		font-size: 3rem;
		padding-bottom: 30px;
	}

	.a-left-text-description {
		flex: 4;
		font-size: 1.6rem;
	}

	.image-hobby-ref {
		width: 250px;
		height: 160px;
		opacity: 1;
		border-radius: 10px;
		transition: opacity 2s ease;
		animation: scaleImage 0.8s;
		margin: 10px;
	}

	.a-wrapper-two {
		font-size: 1.5rem;
		padding: 50px;
	}

	.c-title {
		font-size: 4rem;
		text-align: center;
	}
}

@media screen and (max-width: 1100px) {
	.header-menu {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		font-size: 1.2rem;
		font-weight: bold;
		/* background: green; */
	}

	.hero-intro {
		font-size: 1.6rem;
		font-weight: 500;
	}

	.hero-name {
		font-size: 3rem;
	}

	.hero-description {
		font-size: 0.8rem;
		font-weight: bold;
	}

	.p-text1 {
		font-size: 1.5rem;
		position: relative;
		left: -100vw;
	}

	.p-text1-ref {
		font-size: 1.5rem;
		animation: project 0.8s ease-out;
		padding-top: 50px;
	}

	.p-text2 {
		font-size: 1.2rem;
		position: relative;
		left: -100vw;
	}

	.p-text2-ref {
		font-size: 1.2rem;
		animation: project2 0.8s ease-out;
	}

	.slider-image {
		width: 200px;
		height: 374px;
		border-radius: 10px;
		border: 1px solid white;
	}

	.p-description-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 70%;
	}

	.p-description {
		font-size: 1.2rem;
	}

	.a-left-text-headline {
		flex: 1;
		font-size: 3rem;
		padding-bottom: 30px;
	}

	.a-left-text-description {
		flex: 4;
		font-size: 1.4rem;
	}

	.image-hobby-ref {
		width: 170px;
		height: 120px;
		opacity: 1;
		border-radius: 10px;
		transition: opacity 2s ease;
		animation: scaleImage 0.8s;
		margin: 10px;
	}

	.a-wrapper-two {
		font-size: 1.5rem;
		padding: 50px;
	}

	.c-title {
		font-size: 3rem;
		text-align: center;
	}
}
